* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 120px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  list-style: none;
}
.navbar ul a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 16px;
}

.logo-text {
  font-size: 18px;
  color: rgb(29, 29, 44);
}
.btn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(45, 45, 226);
  color: white;
  border-radius: 5px;
}

/* nav section end */

/* hero section start */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-btn {
  margin-top: 200px;
}
.hero h2,
em {
  color: white;
  font-size: 64px;
  font-weight: 600;
}
.hero p {
  color: white;
  font-size: 20px;
}
.hero-btn {
  color: white;
  background-color: rgb(45, 45, 226);
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
/* hero section end  */

/* Meet the speakers section start */

.speaker-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 0 80px;
}
.speakers {
  border: 1px solid gray;
  border-radius: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
}
.speakers-text {
}
.speakers-heading {
  text-align: center;
  padding: 40px 0;
  font-size: 56px;
  line-height: 65px;
  font-weight: 700;
  padding: 50px 0 30px 0;
  color: #000102;
}
.speakers img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* Meet the speakers section end */

/* pricing section start */
.pricing-heading {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  padding-top: 50px;
  color: #0d1b2a;
}
.pricing-pera {
  text-align: center;
  color: #575757;
  font-size: 16px;
  line-height: 24px;
}

.pricing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 20px;
}
.card {
  width: 370px;
  height: 450px;
  background: white;
  padding: 40px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
.card h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #888888;
}
.card h2 {
  font-size: 44px;
  font-weight: 800;
  color: #0d1b2a;
  line-height: 44px;
}
.card p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  margin-top: 5px;
  color: #888888;
}
.card hr {
  border: none;
  border-top: 1px solid rgb(110, 110, 110);
  color: #e5e7eb;
  opacity: 0.2;
  margin: 15px 0;
}

.card ul {
  padding-left: 20px;
  margin-top: 20px;
}
.card ul li {
  margin-bottom: 12px;
  line-height: 20px;
  font-size: 14px;
  color: #333333;
}

.pro {
  background-color: #0d1b2a;
}
.pro h2 {
  color: #ffffff;
}
.pro h4 {
  color: #93c5fd;
}
.pro ul li {
  color: rgb(158, 158, 158);
}
.pricing-btn-1 {
  min-width: 100%;
  height: 45px;
  color: #2563eb;
  border: 1px solid #2563eb;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  justify-content: center;
}

.pricing-btn-2 {
  min-width: 100%;
  height: 45px;
  color: #ffffff;
  background-color: #2563eb;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  justify-content: center;
  border: none;
}
.pricing-btn-3 {
  min-width: 100%;
  height: 45px;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  justify-content: center;
}

/* footer section start */
.footer-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1b2a;
  padding: 0 120px;
}
.footer-content p {
  color: #888888;
}
.footer-nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  color: #888888;
  font-size: 16px;
  line-height: 20px;
}
