* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 120px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
}
.navbar ul a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  line-height: 25px;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  background-color: #1d4ed8;
  color: white;
  border-radius: 5px;
}

/* nav section end */

/* hero section start */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-btn {
  margin-top: 200px;
}
.hero h2,
em {
  color: white;
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -3px;
}
.hero p {
  color: white;
  font-size: 22px;
  line-height: 24px;
  margin-top: 5px;
}
.hero-btn {
  color: white;
  background-color: rgb(45, 45, 226);
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
/* hero section end  */

/* Meet the speakers section start */

.speaker-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 0 80px;
}
.speakers {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding-bottom: 40px;
}
.speakers-text {
  padding-left: 10px;
  padding-top: 5px;
}
.speakers-heading {
  text-align: center;
  padding: 40px 0;
  font-size: 56px;
  line-height: 65px;
  font-weight: 700;
  padding: 50px 0 30px 0;
  color: #000102;
}
.speakers img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Designation{
  color: #2563eb;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.name{
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  color: #0d1b2a;
  padding: 2px 0;
}

.position{
  font-size: 14px;
  line-height: 21px;
  color: #575757;
}
/* Meet the speakers section end */

/* pricing section start */
.pricing-heading {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  padding-top: 50px;
  color: #0d1b2a;
}
.pricing-pera {
  text-align: center;
  color: #575757;
  font-size: 16px;
  line-height: 24px;
}

.pricing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 20px;
}
.card {
  width: 370px;
  height: 450px;
  background: white;
  padding: 40px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
.card h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #888888;
}
.card h2 {
  font-size: 44px;
  font-weight: 800;
  color: #0d1b2a;
  line-height: 44px;
}
.card p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  margin-top: 5px;
  color: #888888;
}
.card hr {
  border: none;
  border-top: 1px solid rgb(110, 110, 110);
  color: #e5e7eb;
  opacity: 0.2;
  margin: 15px 0;
}

.card ul {
  padding-left: 20px;
  margin-top: 20px;
}
.card ul li {
  margin-bottom: 12px;
  line-height: 20px;
  font-size: 14px;
  color: #333333;
}

.pro {
  background-color: #0d1b2a;
}
.pro h2 {
  color: #ffffff;
}
.pro h4 {
  color: #93c5fd;
}
.pro ul li {
  color: rgb(158, 158, 158);
}
.pricing-btn-1 {
  min-width: 100%;
  height: 45px;
  color: #2563eb;
  border: 1px solid #2563eb;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  justify-content: center;
}

.pricing-btn-2 {
  min-width: 100%;
  height: 45px;
  color: #ffffff;
  background-color: #2563eb;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  justify-content: center;
  border: none;
}
.pricing-btn-3 {
  min-width: 100%;
  height: 45px;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  justify-content: center;
}

/* 
faq section */

.faq {
  padding: 80px 0;
  background-color: #ffffff;
}

.container {
  /* width: 90%; */
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 40px;
  color: #000102;
  margin-bottom: 15px;
}

.section-title p {
  color: #888888;
  font-size: 18px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 20px;
}

.faq-item summary {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  list-style: none;
}

.faq-item summary::-webkit-details-marker {
  display: none;
}

/* Plus icon */
.faq-item summary::after {
  content: "+";
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: #3b82f6;
}

/* Minus icon when open */
.faq-item[open] summary::after {
  content: "-";
}

.faq-item p {
  margin-top: 15px;
  color: #cbd5e1;
  line-height: 1.7;
  font-size: 16px;
}

.faq-item:hover {
  background-color: #253248;
  transition: 0.3s;
}

/* footer section start */
.footer-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1b2a;
  padding: 0 120px;
}
.footer-content p {
  color: #888888;
}
.footer-nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  color: #888888;
  font-size: 16px;
  line-height: 20px;
}
